{
  "rules": [
    {
      "ruleName": "{{ failover_policy_name }}",
      "sourceContainer": "{{ primary_container_name }}",
      "destinationContainer": "{{ secondary_container_name }}"
    }
  ]
}

